<phpunit bootstrap="public/source.php">
 <testsuites>
  <testsuite>
   <directory>vendor/phppe/Developer/tests</directory>
  </testsuite>
 </testsuites>
 <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
   <file>public/source.php</file>
   <directory>vendor/phppe/Core/libs</directory>
  </whitelist>
 </filter>
 <logging>
  <log type="coverage-html" target="public/coverage"/>
 </logging>
</phpunit>
